header{
  width: 100%;
  height: 120px;
  background: black;
  color: white;
  padding-right:15px;
  padding-left:15px;
  margin: 0 auto;
}

nav{
  float: right;
}
nav ul{
	list-style-type: none;
	display:inline;
	padding-left:0px;
}

nav li{
	display:inline;
	margin-left:20px;
}

header.h1{
  margin-top: 0;
}

.headerh1{
  margin-top: 0;
}
